@media (max-width: 768px) {
  .flaskeøl-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    text-align: center;
  }
  .fadøl-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: center;
  }

  .sanmiguel {
    width: 105%;
    margin-top: 15px;
  }

  .classic {
    width: 36%;
    margin-left: 90px;
  }

  .carlsberg {
    width: 36%;
    margin-left: 40px;
  }

  .guld {
    width: 100%;
    margin-left: 18px;
    margin-top: 25px;
  }

  .heineken {
    width: 45%;
    margin-left: 30px;
    margin-top: 15px;
  }

  .alkoholfri {
    width: 38%;
    margin-left: 85px;
  }
}

@media (min-width: 750px) {
  .barmenu {
    margin-left: 15px;
  }

  .Fadøl {
    font-weight: bold;
    margin-left: 20px;
  }

  .flaske {
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 90px;
  }

  .fadøl-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
  }

  .sanmiguel {
    width: 110%;
    margin-top: 17px;
  }

  .flaskeøl-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    text-align: center;
  }

  .classic {
    width: 32%;
    margin-left: 100px;
  }

  .carlsberg {
    width: 32%;
    margin-left: 100px;
  }

  .heineken {
    width: 42%;
    margin-left: 80px;
  }

  .alkoholfri {
    width: 32%;
    margin-left: 100px;
    margin-top: 15px;
  }
}
