/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Menu ****************/
@media (max-width: 1200px) {
  header {
    display: none;
  }
}

/************* Style **************/
main {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

body {
  background-color: rgba(237, 232, 212, 1);
}

footer {
  background-color: rgba(116, 139, 102, 1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 20px;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
}

h3 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 1.2rem;
  padding: 10px;
}

p {
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
  padding: 10px;
}

li {
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
  padding: 10px;
}

a {
  color: black;
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
  padding: 10px;
}

a:hover,
.menu_drop:hover {
  color: #a60600;
}

img {
  padding: 15px;
}

/*************** Mobil ****************/
.footer_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.tider ul {
  margin-left: 20px;
}

.trustpilot {
  display: flex;
  justify-content: flex-start;
}

.trustpilot img {
  width: 150px;
  height: auto;
}

.SoMe_grid {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.SoMe_grid img {
  width: 70px;
  height: auto;
}

@media (min-width: 750px) {
  /************** Footer **************/
  .footer_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer_imgs {
    display: flex;
    flex-direction: column;
  }

  .lokation img {
    width: 85%;
    height: auto;
  }

  .SoMe_grid {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }

  .SoMe_grid img {
    width: 90px;
    height: auto;
  }

  .trustpilot {
    display: flex;
    justify-content: flex-end;
  }

  .trustpilot img {
    width: 200px;
    height: auto;
  }
}
/************ Drop down menu ***********/

.has-dropdown {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 80%;
  left: 0%;
  z-index: 10;
  min-width: 160px;
}

.dropdown li a {
  padding: 10px;
  white-space: nowrap;
}

.has-dropdown:hover .dropdown,
.dropdown:hover {
  display: block;
}

ul .dropdown li {
  margin-right: 0;
  list-style: none;
}

ul .dropdown li a {
  text-align: left;
}
/********** Burger Menu ************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 200px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ff0000;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
